Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
SELECT  *
FROM tracks
WHERE name LIKE 'All%';


SELECT  count(*)
FROM tracks
WHERE name LIKE 'All%';

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
SELECT  *
FROM customers
WHERE email LIKE 'j%_gmail.com%';

Run Query: Find the albums with 12 or more tracks.

In [ ]:
SELECT  title, count(t.name)
FROM albums join tracks t on albums.id = t.album_id
GROUP BY t.album_id, title
HAVING count(t.name) >= 12;

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
SELECT title, sum(t.unit_price)
FROM albums join tracks t on albums.id = t.album_id join artists a on a.id = albums.artist_id
WHERE a.name = 'Audioslave'
GROUP BY title, t.unit_price;

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
SELECT name
FROM tracks
where tracks.album_id = (select albums.id
                         from albums
                         where albums.title ='Californication')

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
SELECT c.first_name, c.last_name, c.city, c.email,count(invoices.id)
FROM invoices join customers c on c.id = invoices.customer_id
GROUP BY c.id;

After running the query described above, what is the email address of the 5th person, Franti코ek Wichterlov치?

In [ ]:
SELECT email
FROM
    (SELECT c.first_name, c.last_name, c.city, c.email,count(invoices.id)
    FROM invoices join customers c on c.id = invoices.customer_id
    GROUP BY c.id)
as subq
where last_name ='Wichterlov치' and first_name='Franti코ek':

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
SELECT t.name as trackname ,title as albumname,albums.artist_id  as artistID, t.id as trackID
FROM albums join tracks t on albums.id = t.album_id;

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
SELECT trackname
FROM
    (SELECT t.name as trackname ,title as albumname, artist_id  as artistID, t.id as trackID
    FROM albums join tracks t on albums.id = t.album_id
    )
as subq
where trackid = 12 and albumname = 'For Those About To Rock We Salute You';

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
SELECT m.last_name as manager, e.last_name as Employee
FROM  employees e left join employees m ON m.id = e.reports_to;

In [ ]:

SELECT subq.employee
FROM
    (SELECT m.last_name as manager, e.last_name as Employee
    FROM  employees e left join employees m ON m.id = e.reports_to
    )
as subq
where subq.manager ='Mitchell'

Find the name and ID of the artists who do not have albums.

In [ ]:
SELECT a.name, a.id
FROM albums full join artists a on a.id = albums.artist_id
WHERE albums.id is null;

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
SELECT emp.last_name, emp.first_name
FROM employees emp
union
select c.last_name,c.first_name
from customers c
order by last_name desc;

ANSWER: Taylor,Mark

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
SELECT customers.first_name,customers.last_name,customers.city,i.billing_city
FROM customers join invoices i on customers.id = i.customer_id
WHERE customers.city != i.billing_city;