# Assignment Part One
You are free choose whether to solve the following exercises in MQL or to write the queries in python using <a href='https://pymongo.readthedocs.io/en/stable/'>pymongo</a>

In [1]:
#!python3
import pymongo
from pymongo import MongoClient
#import dnspython
from tabulate import tabulate
import ssl
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [14]:
client = MongoClient('mongodb+srv://student:nRfKfRqEtgWvznFD@cluster0.gu4ru.mongodb.net')
db = client.get_database('sample_airbnb')
rbnb = db.listingsAndReviews.find()
rbnb_df = pd.DataFrame(rbnb)

## Airbnb Dataset

What is the name of the listing in the sample_airbnb.listingsAndReviews dataset
that accommodates more than 6 people and has exactly 50 reviews

In [17]:
rbnb_df[(rbnb_df['accommodates']>6) & ([len(x)==50 for x in rbnb_df['reviews']])]['name']

#[len(x)==50 for x in rbnb_df['reviews']]

4525    Sunset Beach Lodge Retreat
Name: name, dtype: object

Using the sample_airbnb.listingsAndReviews collection find out how many
documents have the "property_type" "House", and include "Changing table" as
one of the "amenities"?

In [4]:

rbnb_df[([('Changing table' in x) for x in rbnb_df['amenities']])& (rbnb_df['property_type'] == 'House')]

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,host,address,availability,review_scores,reviews,security_deposit,cleaning_fee,weekly_price,monthly_price,reviews_per_month
1080,15893952,https://www.airbnb.com/rooms/15893952,"Modern, Quiet Semi stroll to Manly Beach",Our home is just a short walk away from all th...,Guests are able to use the whole property incl...,Our home is just a short walk away from all th...,"Our place is close to Manly Beach, shops, rest...",,"Our house is only a short walk to the beach, r...",,...,"{'host_id': '85391052', 'host_url': 'https://w...","{'street': 'Manly, NSW, Australia', 'suburb': ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '116696041', 'date': 2016-12-02 05:00...",500.00,100.00,NaN,NaN,NaN
1096,15997148,https://www.airbnb.com/rooms/15997148,Huge kid-friendly Brooklyn home with parking/p...,Our place is close to J train to lower Manhatt...,,Our place is close to J train to lower Manhatt...,,,,,...,"{'host_id': '200060', 'host_url': 'https://www...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '115682030', 'date': 2016-11-26 05:00...",NaN,NaN,NaN,NaN,NaN
1106,16029413,https://www.airbnb.com/rooms/16029413,"Bundeena Base Art House, Sea View with Heated ...","With fabulous views, overlooking the sea, Bund...",Please note that the airbnb site does not show...,"With fabulous views, overlooking the sea, Bund...","Untouched beaches, the Royal National Park, cu...",Please be aware that for the safety of everyon...,"Once in Bundeena, you really don't need a car ...","We prefer someone to be here when you arrive, ...",...,"{'host_id': '104281282', 'host_url': 'https://...","{'street': 'Bundeena, NSW, Australia', 'suburb...","{'availability_30': 22, 'availability_60': 43,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '130150920', 'date': 2017-02-04 05:00...",500.00,120.00,NaN,NaN,NaN
1152,16253247,https://www.airbnb.com/rooms/16253247,Gorgeous Remodeled Modern Home w/ Beach Across...,Newly remodeled! Gorgeous home with fully remo...,Guests love: - Mid Century Modern Main house: ...,Newly remodeled! Gorgeous home with fully remo...,Kailua-Kona is a quaint town on the west coast...,Watching the sunset on the beach across the st...,Proximity to Airports: Surf Temple is just twe...,Guests will have access to the entire house! T...,...,"{'host_id': '106070244', 'host_url': 'https://...","{'street': 'Kailua-Kona, HI, United States', '...","{'availability_30': 5, 'availability_60': 11, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '124406978', 'date': 2017-01-01 05:00...",100.00,200.00,NaN,NaN,NaN
1251,16885508,https://www.airbnb.com/rooms/16885508,Private Family Retreat with Spa & Pool,"Light, airy open plan holiday home with spacio...",Baby gates available for children's rooms. No ...,"Light, airy open plan holiday home with spacio...",Our neighbourhood is always very quiet so no o...,Please note we have done a few renovations rec...,There is always lots of street parking availab...,Everywhere except the back garden below the de...,...,"{'host_id': '103281975', 'host_url': 'https://...","{'street': 'Saint Ives, NSW, Australia', 'subu...","{'availability_30': 0, 'availability_60': 15, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '194980560', 'date': 2017-09-17 04:00...",500.00,85.00,NaN,NaN,NaN
1703,19572281,https://www.airbnb.com/rooms/19572281,Comfortable bedroom close to the airport - Porto,"Quarto muito confortável em moradia, com TV po...","Os hóspedes podem usar o quarto, casa de banho...","Quarto muito confortável em moradia, com TV po...","Zona residencial muito tranquila, com acesso a...",,"Estacionamento fácil na via pública, em frente...",Livre acesso à cozinha.,...,"{'host_id': '88573374', 'host_url': 'https://w...","{'street': 'Vila Nova da Telha, Porto, Portuga...","{'availability_30': 15, 'availability_60': 35,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '182392512', 'date': 2017-08-14 04:00...",0.00,0.00,NaN,NaN,NaN
1947,20206764,https://www.airbnb.com/rooms/20206764,Awesome 2-storey home Bronte Beach next to Bondi!,Prestige full time holiday stay in North Bront...,* Master quarters over sized room with plush q...,Prestige full time holiday stay in North Bront...,Favaloso great cafe around the corner Famous c...,"Quiet neighbourhood, no events or parties allowed",Walking Uber or Taxi Bus stop 1-2min walk,Entire place as described,...,"{'host_id': '10462547', 'host_url': 'https://w...","{'street': 'Bronte, NSW, Australia', 'suburb':...","{'availability_30': 0, 'availability_60': 5, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '194394612', 'date': 2017-09-16 04:00...",750.00,95.00,NaN,NaN,NaN
2292,22005432,https://www.airbnb.com/rooms/22005432,Beautiful Bondi Beachside Home,"This beautiful sun-filled, renovated and fully...",This place is newly renovated family home. We ...,"This beautiful sun-filled, renovated and fully...",Bondi Beach is a special place. It has an incr...,We might be able to organise all day parking c...,The bus stop is a 1 minute walk. There is on ...,"In addition to great quality linen, we provide...",...,"{'host_id': '1879921', 'host_url': 'https://ww...","{'street': 'Bondi Beach, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 10, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '223835129', 'date': 2018-01-01 05:00...",1000.00,250.00,NaN,NaN,NaN
2426,22396955,https://www.airbnb.com/rooms/22396955,Pause_Oporto,This house in a renovated building from the en...,This house retains its original structure. As ...,This house in a renovated building from the en...,The house is located in a residential zone wit...,There’s a wide range of transports near the ho...,There’s a wide range of transports near the ho...,The house is all available for the private use...,...,"{'host_id': '163147652', 'host_url': 'https://...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 19, 'availability_60': 41,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '247693704', 'date': 2018-03-29 04:00...",0.00,20.00,NaN,NaN,NaN
4517,3963635,https://www.airbnb.com/rooms/3963635,"A 2-story, 2-bedroom house - 20min to Downtown","This 2-bedroom, 2-floor home is the perfect ho...","A sweet 2-bedroom, two-floor apartment in a pr...","This 2-bedroom, 2-floor home is the perfect ho...",Bedford–Stuyvesant (colloquially known as Bed-...,"There is a cat, Gigi, who lives on the premise...",The apartment is in walking distance to a seve...,Hosts Pervaiz & Laena live in the apartment wi...,...,"{'host_id': '20543178', 'host_url': 'https://w...","{'street': 'Brooklyn , NY, United States', 'su...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '40264452', 'date': 2015-07-29 04:00:...",0.00,100.00,NaN,NaN,NaN
4786,5307830,https://www.airbnb.com/rooms/5307830,⭐️Ocean/City Views⭐️Van Included⭐️Hot Tub⭐️3 Bath,E komo mai [Welcome]! ￫ Solar-panel powered h...,￫ Is this your first booking on Airbnb? Use th...,E komo mai [Welcome]! ￫ Solar-panel powered h...,Here are my personal recommendations: airbnb.c...,*State of Hawaii Taxes - General Excise Tax (...,"We have our own fleet of vehicles, which inclu...",Entire space is included in this rental. Pleas...,...,"{'host_id': '24671259', 'host_url': 'https://w...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '198007203', 'date': 2017-09-27 04:00...",300.00,495.00,NaN,NaN,NaN

What room types are present in the sample_airbnb.listingsAndReviews collection?

In [19]:
np.unique(rbnb_df['room_type'])

Entire home/apt    3489
Private room       1983
Shared room          83
Name: room_type, dtype: int64

## Mflix Dataset

(following exercise may be easier in python) 
Our movies dataset has a lot of different documents, some with more convoluted titles than
others. 
Find the count of the number of movies that have a title composed of one word. 
To clarify, "Cinderella" and "3-25" should count, where as "Cast Away" would not. 

You may want to take look into the `$split` String expression and the `$size` Array expression

* https://docs.mongodb.com/manual/reference/operator/aggregation/split/
* https://docs.mongodb.com/manual/reference/operator/aggregation/size/
* https://database.guide/mongodb-split/
* https://pymongo.readthedocs.io/en/stable/examples/aggregation.html

In [20]:
db = client.get_database('sample_mflix')
movies = db.movies.find()
movies_df = pd.DataFrame(movies)
movies_df.head()

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,languages,released,...,awards,lastupdated,year,imdb,countries,type,tomatoes,poster,writers,metacritic
0,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]",14.0,"[Frank Powell, Grace Henderson, James Kirkwood...",1,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[English],1909-12-13,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",NaN,NaN,NaN
1,573a1390f29313caabcd4803,"Cartoon figures announce, via comic strip ball...","[Animation, Short, Comedy]",7.0,[Winsor McCay],0,"Winsor McCay, the Famous Cartoonist of the N.Y...",Cartoonist Winsor McCay agrees to create a lar...,[English],1911-04-08,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 01:09:03.030000000,1911,"{'rating': 7.3, 'votes': 1034, 'id': 1737}",[USA],movie,"{'viewer': {'rating': 3.4, 'numReviews': 89, '...",https://m.media-amazon.com/images/M/MV5BYzg2Nj...,"[Winsor McCay (comic strip ""Little Nemo in Slu...",NaN
2,573a1390f29313caabcd4eaf,"A woman, with the aid of her police officer sw...","[Crime, Drama]",88.0,"[Jane Gail, Ethel Grandin, William H. Turner, ...",1,Traffic in Souls,NaN,[English],1913-11-24,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-15 02:07:14.247000000,1913,"{'rating': 6.0, 'votes': 371, 'id': 3471}",[USA],movie,"{'viewer': {'rating': 3.0, 'numReviews': 85, '...",https://m.media-amazon.com/images/M/MV5BYzk0YW...,NaN,NaN
3,573a1390f29313caabcd516c,Original advertising for the film describes it...,"[Drama, History]",65.0,"[Stanley Hunt, Sarah Constance Smith Hunt, Mrs...",1,In the Land of the Head Hunters,NaN,[English],1914-12-07,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-16 12:11:37.770000000,1914,"{'rating': 5.8, 'votes': 223, 'id': 4150}",[USA],movie,"{'viewer': {'rating': 2.7, 'numReviews': 64, '...",https://m.media-amazon.com/images/M/MV5BMjE3Mj...,[Edward S. Curtis (story)],NaN
4,573a1390f29313caabcd5293,Young Pauline is left a lot of money when her ...,[Action],199.0,"[Pearl White, Crane Wilbur, Paul Panzer, Edwar...",0,The Perils of Pauline,Young Pauline is left a lot of money when her ...,[English],1914-03-23,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-12 00:01:18.647000000,1914,"{'rating': 7.6, 'votes': 744, 'id': 4465}",[USA],movie,"{'viewer': {'rating': 2.8, 'numReviews': 9}, '...",https://m.media-amazon.com/images/M/MV5BMzgxOD...,"[Charles W. Goddard (screenplay), Basil Dickey...",NaN

In [23]:
movies_df[movies_df.loc[:,'title'].str.contains('.\s.') == False].shape[0]

4793

Pick all movies that match following criteria: 

* imdb.rating is at least 7
* genres does not contain "Crime" or "Horror"
* rated is either "PG" or "G"

In [8]:

rate_bool =[]
for i in [c['rating'] for c in [x for x in movies_df.loc[:,'imdb']]]:
    if i == '':
        i=0
    rate_bool.append(i>7)

genre_bool = []
for movie in [mov for mov in movies_df.loc[:,'genres']]:
    if type(movie) == float:
        movie =[]
    genre_bool.append(('Horror' in movie) | ('Crime' in movie))


rated_bool = [(m in ['PG','G']) for m in movies_df.loc[:,'rated']]

In [ ]:
movies_df[np.multiply(np.multiply(rate_bool,genre_bool),rated_bool)]

## Citibike Data

How many trips in the sample_training.trips collection started at stations that are to
the west of the -74 longitude coordinate?
Longitude decreases in value as you move west.

In [27]:
db = client.get_database('sample_training')
trips = db.trips.find()
trips_df = pd.DataFrame(trips)
trips_df

,_id,tripduration,start station id,start station name,end station id,end station name,bikeid,usertype,birth year,start station location,end station location,start time,stop time
0,572bb8222b288919b68abf5c,589,489,10 Ave & W 28 St,284,Greenwich Ave & 8 Ave,21997,Subscriber,1982,"{'type': 'Point', 'coordinates': [-74.00176802...","{'type': 'Point', 'coordinates': [-74.00263761...",2016-01-01 00:00:48,2016-01-01 00:10:37
1,572bb8222b288919b68abf61,1376,527,E 33 St & 2 Ave,259,South St & Whitehall St,23933,Subscriber,1963,"{'type': 'Point', 'coordinates': [-73.976056, ...","{'type': 'Point', 'coordinates': [-74.01234218...",2016-01-01 00:03:12,2016-01-01 00:26:09
2,572bb8222b288919b68abf63,615,432,E 7 St & Avenue A,311,Norfolk St & Broome St,23993,Subscriber,1971,"{'type': 'Point', 'coordinates': [-73.98379855...","{'type': 'Point', 'coordinates': [-73.98802084...",2016-01-01 00:03:43,2016-01-01 00:13:59
3,572bb8222b288919b68abf64,1770,3226,W 82 St & Central Park West,509,9 Ave & W 22 St,22541,Subscriber,1970,"{'type': 'Point', 'coordinates': [-73.97137, 4...","{'type': 'Point', 'coordinates': [-74.00197139...",2016-01-01 00:04:43,2016-01-01 00:34:14
4,572bb8222b288919b68abf6e,719,3116,Huron St & Franklin St,3126,44 Dr & Jackson Ave,16624,Subscriber,1982,"{'type': 'Point', 'coordinates': [-73.95826, 4...","{'type': 'Point', 'coordinates': [-73.9432635,...",2016-01-01 00:10:00,2016-01-01 00:21:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,572bb8232b288919b68b1c15,415,457,Broadway & W 58 St,3164,Columbus Ave & W 72 St,22736,Subscriber,1966,"{'type': 'Point', 'coordinates': [-73.98169333...","{'type': 'Point', 'coordinates': [-73.97898475...",2016-01-02 19:29:04,2016-01-02 19:35:59
9996,572bb8232b288919b68b1c1b,268,304,Broadway & Battery Pl,363,West Thames St,18736,Subscriber,1960,"{'type': 'Point', 'coordinates': [-74.01361706...","{'type': 'Point', 'coordinates': [-74.01713445...",2016-01-02 19:29:48,2016-01-02 19:34:16
9997,572bb8232b288919b68b1c27,1319,3235,E 41 St & Madison Ave,490,8 Ave & W 33 St,24227,Customer,,"{'type': 'Point', 'coordinates': [-73.97992193...","{'type': 'Point', 'coordinates': [-73.993934, ...",2016-01-02 19:30:19,2016-01-02 19:52:19
9998,572bb8232b288919b68b1c44,566,442,W 27 St & 7 Ave,380,W 4 St & 7 Ave S,15101,Subscriber,1988,"{'type': 'Point', 'coordinates': [-73.993915, ...","{'type': 'Point', 'coordinates': [-74.00293877...",2016-01-02 19:33:16,2016-01-02 19:42:42
9999,572bb8232b288919b68b1c48,552,438,St Marks Pl & 1 Ave,536,1 Ave & E 30 St,23575,Subscriber,1992,"{'type': 'Point', 'coordinates': [-73.98564945...","{'type': 'Point', 'coordinates': [-73.97536082...",2016-01-02 19:34:07,2016-01-02 19:43:19

In [26]:


trips_df[[point['coordinates'][0]<(-74) for point in trips_df['start station location']]].shape[0]

1928

What is the difference between the number of people born in 1998 and the number of
people born after 1998 in the sample_training.trips collection?

In [12]:
pd.DataFrame( [sum(trips_df['birth year'][trips_df['birth year']!='']>1998),sum(trips_df['birth year'][trips_df['birth year']!='']==1998)],index=['after 1998', 'at 1998'], columns=['Value'])

            Value
after 1998     18
at 1998        12